:root {
  --ovarlay-color-dark: #2e2f42;
  --cta-color-pressedstate: #404bbf;
  --links-color-primarybrand: #4d5ae5;
  --valid-color-success: #31d0aa;
  --body-color-text: #434455;
  --helper-color-subtletext: #8e8f99;
  --accent-color-sccent: #e7e9fc;
  --bglight-color-light: #f4f4fd;
  --overlay-color-modal: #2e2f42;
}

h1 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

h2 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  letter-spacing: 2%;
}

.doing {
  display: flex;
  gap: 24px;
}

.list {
  list-style: none;
}

.team {
  display: flex;
  gap: 24px;
}

.values-list {
  display: flex;
}
